[2019-03-08 16:15] MaciejWiczk opened #1 "API endpoint /api/keywords/<collection_id> returns empty list"
When running rfhub2 endpoint /api/keywords/<collection_id> a dictionary conaining list of keywords is generated, but list is empty.

Example:
/api/keywords/1 which points to BuiltIn
{
  "keywords": []
}

[2019-03-10 22:05] #1 closed

[2019-03-13 19:36] MaciejWiczk commented on #4
Fixed in #5

[2019-03-16 21:12] MaciejWiczk commented on #6
Actualy, this one is not an simple fix. Logic will get even more complicated, and refactor should happen instead. I will take a good look at needed methods and develop apropriate queries.

[2019-03-18 16:20] MaciejWiczk commented on #6
@pbylicki, please take a look at those queries and check if I didn't miss or messed up anything. This would be useful to go on with model development and refactor of api/doc

-- getting all collections
SELECT collection_id, name, "type", version, "scope", namedargs, "path", doc, doc_format
FROM collections
ORDER BY "type", name; --this is to be discussed what's better looking ;)

-- getting all ke

[2019-03-19 06:17] MaciejWiczk opened #8 "Add support for .resource files"
Since of release of RobotFramework 3.1, it supports .resource file extension for files with no Test Cases. RfHub should support such files too.

[2019-03-19 19:37] MaciejWiczk commented on #7
#10

[2019-03-19 20:53] #8 closed

[2019-05-05 08:56] pbylicki commented on #6
@MaciejWiczk AS discussed, we will be switching to ORM based approach. Once the work is started, we will definitely use this to doublecheck the logic

[2019-06-29 13:21] MaciejWiczk opened #2 "Add functionality to populate RfHub-new with data"
This task is about adding functionality to populate RfHub-new as in previous application. There is a need of checking specified folders, with keywords and libraries, which should be added and displayed in application. Adding collections and keywords should be done via API.

[2019-06-29 13:25] MaciejWiczk opened #3 "Migrate and extend robot tests from RfHub2"
Migrate and extend robot tests from RfHub2. Tests should use chrome and selenium and verify running of application, UI and data correctness. All tests should be added to TravisCI pipeline.

[2019-06-29 13:33] MaciejWiczk opened #4 "Introduce Code Coverage tool"
After #1, we have a lot of robust and quick unittests. In order to focus on new areas of application, we should introduce CodeCoverage tool ie. coverage.py together with coverage reporting tool (Coverall, CodeCov), which would be a pipeline step. If possible, combining report from coverage from unit tests and acceptance tests would be desired.

[2019-06-29 13:34] MaciejWiczk opened #5 "Create Docker Builds of RfHub-new"
Create Docker Builds of RfHub-new, similar to the one from RfHub2.

[2019-06-29 16:19] pbylicki opened #6 "Add endpoints for updating data to API"
We need to introduce endpoints for updating data via REST API. Required endpoints are:
- add collection
- add keyword
- update collection
- update keyword
- delete collection
- delete keyword

Scope of this task should not include authentication/authorization, it will be covered as separate task.

[2019-06-29 16:35] pbylicki commented on #2
IMO it should be Click CLI application (we already depend on this package) located in rfhub2.cli package structured in such a way that:
- client responsible for communication with REST API (or database if needed before #6 is implemented) should be defined, ideally with one interface that covers both ways of communication (REST/db)
- it would be nice to use the same model for sending data that API

[2019-06-29 16:39] pbylicki opened #7 "Add missing search functionality"
As with the old version, search request in UI should allow specifying that we want to query only keyword name ("name:") and collection name of the keyword parent ("in:").

Keyword and Collection results should be returned ordered by name.

[2019-06-30 05:09] MaciejWiczk commented on #7
#8 Approved

[2019-06-30 06:10] #7 closed, assigned to pbylicki

[2019-06-30 12:47] MaciejWiczk commented on #4
Merged with #9

[2019-06-30 12:47] #4 closed, assigned to MaciejWiczk

[2019-07-02 18:21] MaciejWiczk commented on #5
After #10, all that is left for now is Docker image for postgres.

[2019-07-05 08:14] MaciejWiczk commented on #5
PR for feature in #11

[2019-07-05 17:29] MaciejWiczk opened #12 "Each time RfHub is run on PostgreSQL sequence is not regenerated"
Each time RfHub is run on PostgreSQL sequence is not regenerated, thus last curr_val of sequence is kept. In extreme scenario we might run out of range. Possible mitigation is to recreate sequences each run of full app or worker. If only postgreSQL is supproted than we might use serial type(I will check if this will get converted to one after rows deletion)

[2019-07-06 10:01] MaciejWiczk commented on #12
I just realised that sequence is of type BigInt so reaching limit is unlikely to happen.

[2019-07-06 10:01] #12 closed, assigned to nobody

[2019-07-07 18:32] MaciejWiczk commented on #2
I've started looking at Click package. I need some more understanding in regards of making clients for Rest API/DB. For now I know that populating application:
- using DB should happen before app starts
- using Rest API should happen after app starts, so we have working endpoint, obviously

Should those two clients be located in rfhub2.cli? Or maybe somewhere different like rfhub2.clients? Last bu

[2019-07-07 18:53] #5 closed, assigned to MaciejWiczk

[2019-07-07 19:04] pbylicki commented on #2
Once #13 is merged I do not see a point in updating data directly in db, we should use Rest API and assume that web application will be run separately from the job populating the data. With this approach rest client should be just part of the `rfhub2.cli` package. I would make cli only about populating the data, not running the web server so let's leave web server launching code as is for this tas

[2019-07-07 19:19] MaciejWiczk commented on #2
Ok, now I have better picture. I see two actions to be taken care of:
- delete row: https://github.com/pbylicki/rfhub-new/blob/master/rfhub2/main.py#. @pbylicki will this lead to change in unit_tests? Or are they independent of that?
- creation of another image with rfhub.cli, because docker endpoint will be different han for whole app.

[2019-07-07 19:20] MaciejWiczk commented on #6
Done in #13

[2019-07-07 19:20] #6 closed, assigned to pbylicki

[2019-07-07 19:29] pbylicki commented on #2
The unit tests use the same function, but independently in their setup, so recreating data can be removed from application starting procedure once mechanism for populating data is done.
As for new image I do not think we really need it - at this point you just need to run existing image with custom entrypoint. Also I would assume that for using cli one would want to have it installed directly on t

[2019-07-14 06:51] MaciejWiczk opened #18 "Add Heroku Deployment"
#17

[2019-07-14 18:45] #18 closed, assigned to pbylicki

[2019-07-19 16:57] MaciejWiczk commented on #2
Very early changes in #20

[2019-07-20 06:17] MaciejWiczk opened #21 "Rfhub starts with all collections expanded"
Rfhub starts with all collections expanded, which might be confusing for user, and it's making it bit harder to navigate.
Current state on the left, desired state on the right:
![rfhub-new_issue](https://user-images.githubusercontent.com/35737166/61575068-8ea67c00-aac7-11e9-9e26-d63ddf0b34c7.jpg)

[2019-08-04 11:35] #21 closed, assigned to MaciejWiczk

[2019-08-04 17:52] MaciejWiczk opened #26 "Selecting keyword from collection is collapsing collection"
Afer #25, collections are displayed as collapsed, which is correct. Unfortunately, after selecting keyword from expanded collection, collection gets collapsed. I do not know if it is still fixable in css, or it should be some js functionality.

[2019-08-10 06:34] MaciejWiczk opened #27 "Create documentation for rfhub-new.cli"
Create extensive documentation for rfhub-new.cli. This issue depends on #20

[2019-08-10 06:37] MaciejWiczk opened #28 "Add error handling for rfhub-new.cli when LibDoc fails to create collection object"
Add error handling for rfhub-new.cli when LibDoc fails to create collection object.
Code in rfhub2/cli/rfhub_importer.py line 85. Isseu depdends on #20.

[2019-08-16 17:56] MaciejWiczk opened #29 "RfHub2 is not displaying more than 100 items in left panel"
RfHub2 is not displaying more than 190 items in left panel.
HTR:
run application and populate it
[code]

Actual state:
![rfhub_bug](https://user-images.githubusercontent.com/35737166/63187707-d46f4980-c05f-11e9-8b72-b6afad0d7ca8.png)

[2019-08-16 18:05] MaciejWiczk commented on #29
I think this is due to limit coming from
https://github.com/pbylicki/rfhub-new/blob/master/rfhub2/ui/ui_router.py#L22
and directly from
https://github.com/pbylicki/rfhub-new/blob/b74ccf242687e6450cb86e755dd03530d07c0890/rfhub2/db/repository/collection_repository.py#L24

[2019-08-18 22:20] pbylicki commented on #2
PR #20 finally merged

[2019-08-18 22:20] #2 closed, assigned to MaciejWiczk

[2019-08-19 17:26] MaciejWiczk commented on #28
This was fixed in #20

[2019-08-19 17:26] #28 closed, assigned to MaciejWiczk

[2019-08-19 17:30] MaciejWiczk opened #30 "Add paging in delete collections in rfhub2.cli"
Where there is more than 100 Collections `delete_collections` willl delete only first 100 Collections

[2019-08-19 17:33] MaciejWiczk opened #31 "Add handling for unauthenticated, deserialize and serialize in rfhub2.cli.api_client"
Add handling for unauthenticated, deserialize and serialize in rfhub2.cli.api_client as described here:
[https://github.com/pbylicki/rfhub-new/pull/20#discussion_r314961693](url)

[2019-08-21 15:49] MaciejWiczk commented on #30
PR in #33

[2019-08-21 15:50] MaciejWiczk commented on #29
@pbylicki how we should proceed with this one? Should paging be added? This might be good for left panel, but start page is also suffering from this one.

[2019-08-21 15:59] pbylicki commented on #29
@MaciejWiczk I am playing around with new, React-based version of frontend reading data from API. I would prefer to address this issue there.

[2019-08-21 16:10] MaciejWiczk commented on #29
I was wondering what occupied You :)

[2019-08-22 17:45] #30 closed, assigned to MaciejWiczk

[2019-08-30 22:00] pbylicki commented on #26
Fixed by new frontend version

[2019-08-30 22:00] #26 closed, assigned to nobody

[2019-09-01 12:14] #27 closed, assigned to MaciejWiczk

[2019-09-02 10:16] MaciejWiczk opened #38 "Deserialization Issue with args containing comma"
Unfortunately, application is prone to error when keyword contains args with comma:
`["csv_dir", "queue=DEV.${ENV.replace("-", "_")}"]`
with following error (I will update stacktrace):
`Expecting ',' delimiter: line 1 column 39 (char 38) (type=value_error.jsondecode)`
Keyword to trigger such behaviour:
[code]
In LibDoc class generated item looks a bit different:
`'queue=DEV.${ENV.replace(\'-\', \'

[2019-09-03 06:09] MaciejWiczk commented on #38
Fixed in #39

[2019-09-03 06:09] #38 closed, assigned to MaciejWiczk

[2019-09-05 21:46] pbylicki opened #42 "Add animation indicating that data is loading"
Add spinners displayed when new/additional data is being loaded.

[2019-09-06 05:10] #29 closed, assigned to pbylicki

[2019-09-07 06:48] MaciejWiczk opened #46 "Keywords in drawer are not sorted on postgres"
Keywords in drawer are not sorted on PostgreSQL. In SQLite it's displayed properly, while on postgres the order is chaotic:
![rfhub_bug_postgres](https://user-images.githubusercontent.com/35737166/64471002-24679a80-d14c-11e9-9a76-5e9197dd90c2.png)

[2019-09-07 20:40] #46 closed, assigned to MaciejWiczk

[2019-09-08 06:34] MaciejWiczk opened #48 "Add setup.py for rfhub2"
Add setup.py for rfhub2, with some scripts to build and upload package to PyPi.

[2019-09-08 19:09] #48 closed, assigned to MaciejWiczk

[2019-09-17 17:34] Snooz82 opened #54 "Missing requirements in setup.py"
With pip install there are missing modules:

[code]

it is missing `uvicorn` and `aiofiles`

kind regards

[2019-09-17 17:39] MaciejWiczk commented on #54
Hi @Snooz82 I'm a bit surprised by that, since `uvicorn` and `aiofiles` are dependencies of [fastapi](https://github.com/tiangolo/fastapi/blob/master/pyproject.toml#L62)
. Could You tell me on what version of python and OS did You install rfhub2?

I just did uninstall and install rfhub2 from PyPI, and on windows/linux it was missing uvicorn and aiofiles. Thanks for spotting that!

[2019-09-17 18:04] Snooz82 opened #55 "Rfhub2 does not support other docformats than robot"
Rfhub is nice!

It look like it renders the robot docfomat to html.
But if there is a library that has rst as doc format it just shows the plain source code.

In the moment the only way to get rendered html from Robot Framework is, parsing the html libdoc output.

I made a pull request to RobotFramework that the xml output can contain html as doc.
Independent of the original library doc format, th

[2019-09-17 18:12] MaciejWiczk commented on #54
Fixed in #6

[2019-09-17 18:15] MaciejWiczk commented on #55
@Snooz82 I knew Your face was familiar, and now I know where I've seen You :)
That would be good enhancement to have that in rfhub2 as well. Hopefully RFWK 3.2 with new parser arrives soon.

[2019-09-17 18:26] Snooz82 commented on #54
It was on windows 10 with python 3.7.4

[2019-09-17 18:27] Snooz82 commented on #55
Where have you seen me?

[2019-09-17 18:33] MaciejWiczk commented on #54
PyPI is updated. Should be alright :)

[2019-09-17 18:34] #54 closed, assigned to MaciejWiczk

[2019-09-17 18:35] MaciejWiczk commented on #55
Well, your avatar, on rfwk LibDoc PR. I keep an eye on that repo ;)

[2019-10-06 15:54] MaciejWiczk opened #60 "rfhub2-cli breaks on exotic encoding in method `_is_libdoc_file`"
Module breaks when tries to read a file with non utf-8 encoding. RFWK LibDoc module and rfhub2 itself are handling special charaters well, so simple
`with open(file, "r", encoding="utf-8", errors="ignore") as f:`
seems enough to prevents errors.

[2019-10-07 17:46] #3 closed, assigned to MaciejWiczk

[2019-10-07 20:02] MaciejWiczk commented on #60
Fixed in#61

[2019-10-07 20:02] #60 closed, assigned to MaciejWiczk

[2019-10-08 16:36] MaciejWiczk opened #62 "rfhub2-cli breaks on _is_resource_file"
rfhub2-cli breaks on _is_resource_file similar to #60. Same fix should be applied. Silly me for not spotting this quicker.

[2019-10-09 17:31] MaciejWiczk commented on #62
Fixed by #63

[2019-10-09 17:31] #62 closed, assigned to MaciejWiczk

[2019-10-09 17:38] MaciejWiczk commented on #42
@pbylicki I thought about this one, and I think this could be done by [circular intermediate](https://material-ui.com/components/progress/#circular-indeterminate). How do You think it should be done? I think that adding separate new component
 `frontend/src/components/CircularIndeterminate.tsx` is the proper way. Probably some if should be added inside `frontend/src/components/CollectionList.tsx`

[2019-10-10 16:33] MaciejWiczk opened #64 "Rfhub2 could keep all collections until load of rfhub2-cli is finished"
Currently rfhub2-cli deletes all collections with keywords ant then starts with app population. In environment that has a lot of collections and keywords, this results in service temporarly showing only some of them.

- This could be aided by creating temporary table for collections/keywords, and switching them when rfhub2-cli is done. This would require to add (private?) endpoint triggering table

[2019-10-14 17:08] MaciejWiczk opened #65 "Add new tech for pipeline"
After having unittests and functional tests integrated into CICD we can think of using couple of nice tools that github provides:

- [DependaBot](https://github.com/marketplace/dependabot-preview) to check for updates and their compatibility. This will be nicely checked by pipeline.
- [ReportCi](https://github.com/marketplace/report-ci) - tool for marking which test failed on PR, and also stores h

[2019-10-15 21:17] pbylicki commented on #65
@MaciejWiczk If you want to set it up, go ahead. It would be nice to see it in action.

[2019-10-15 21:22] pbylicki commented on #64
I think it would be best to determine on the client side which collections or keywords should be added/updated and do it using existing api. there should be optional way of deleting items that are not present in new data load, but it should be explicitly selected by the user

[2019-10-19 17:15] MaciejWiczk commented on #65
@pbylicki I would love to, but I think my repository permissions/github policy would not allow that :(

[2019-10-20 10:27] MaciejWiczk opened #67 "Extending Rfhub2 with analytics"
Currently Rfhub is doing it's job being a keyword interactive search app. What seems like natural continuation is providing users with some analytics data from tests executions:

- how many times each library/keywords were used. This could help to identify non-used collections, that could be removed, and heavy used collections, that could be converted into library, refactored etc.
- what are avera

[2019-10-25 18:07] pbylicki commented on #67
Good idea, I think that the best idea would be to create the api for receiving required statistics and use dbbot for gathering and sending statistics. Maybe dbbot could be made an optional dependency of rfhub cli and provide some wrapper on existing dbbot functionality with additional mechanism of sending statistics based on the dbbot run. I would need to look again into dbbot to see how it works

[2019-10-25 18:57] MaciejWiczk commented on #67
I've taken a look at Dbbot and have two general thoughts:

- (probably) many people already use dbbot, so it would not require additional scripts added to workflows/CICDs, but it's gathering more data that we actually need for analytics
- using custom script would provide unified interface and be probably faster. Amount of code to extract and process `Collection.Keyword` with elapsed time and numb

[2019-10-27 23:24] #64 closed, assigned to MaciejWiczk

[2019-10-30 15:21] MaciejWiczk commented on #67
I did some digging, and it would be best to use robotframework.api as in [here](https://gist.github.com/adiralashiva8/c6a524c554da8e2b414fe6342d50785f).
it resolves all the embedded arguments inside keywords names, so that we have data consistent with what we already have in Rfhub documentation part. `kw.name` contains library/resource file name and keyword name like this: `BuiltIn.Log`.

[2019-10-30 19:30] MaciejWiczk commented on #65
I forked a repo, and did some checks. Dependabot works like a charm, creates PR for updates it finds, and that triggers build. Setting it up requires to choose language and that's it. Suppots Python, JavaScript and docker. Regarding ReportCi, it can create robot/UnitTests statistics, but it will not annotate test code from those, thus does not seem like something we need. Sadly, there is no real a

[2019-10-30 20:43] pbylicki commented on #65
@MaciejWiczk I have seen the dependabot PR and merge it. I thought that you were able to set it up by yourself. If there are still some steps to be done, I will try to look into it.

[2019-10-30 20:56] pbylicki commented on #67
@MaciejWiczk looks good. Besides of  the keyword statisics that you listed above. I was wondering if you would like to have something like a list of test cases using particular keyword, so it could be displayed for example in a modal window when user selects this option for the keyword. Could be something like suite name/test name/last recorded date as this data should be available when reading ou

[2019-10-31 19:46] MaciejWiczk commented on #67
@pbylicki, this is nice idea. I did some statistics on corporate repo, and amount of used keywords is surprisingly large. Just one project varies between 3 000 and over 30 000 non-unique keyword calls. With this in mind, storing all of the data can be cumbersome. We could use some dict/dimensions in db with unique keyword/library names mapped to ids (diffrent one form docs tables, since those ids

[2019-11-09 16:55] pbylicki commented on #65
Dependabot introduced for Python dependencies. I disabled it for JS dependencies because CI currently does not build/test JS code.

[2019-11-09 16:55] #65 closed, assigned to nobody

[2019-11-30 19:10] MaciejWiczk commented on #67
@pbylicki I have some thoughts and questions to You regarding this one:

- For sure we will need new table for statistics. Should it be done via migration using ie. Alembic?
- Aggregated statistics should be send to some dedicated endpoints, one for keywords data, and one for libraries data (aggregattion of usage times of all keywords from library)
- combining documentation with execution times.

[2019-12-01 22:16] pbylicki commented on #67
@MaciejWiczk
1. If we will end up with just adding a new table, then SQLAlchemy should handle it. If we would need to add columns to existing ones, then we would need to create migrations and alembic would be the first choice to check.
2. As far as I see it now, retrieving libraries and keyword documentation are separate flows relying on different input and producing different data. I would add se

[2019-12-06 19:11] Wolfe1 opened #108 "Cannot Import Name 'selectionload'"
Any idea here on why I am receiving this error? Installed from pip.

[code]

[2019-12-07 09:05] MaciejWiczk commented on #108
Hi @Wolfe1, could You tell me what dependencies You are using, by pip freeze? Especially which version of SQLAlchemy? And which python version inside anaconda3?

[2019-12-09 17:24] Wolfe1 commented on #108
It was indeed my SQLAlchemy version. It was set to 1.1.13 while your requirements.txt is set to 1.3.11. Your setup.py file seems to be allowing any version above 1.1.0 though...

Perhaps you should modify your setup.py to use your requiremnets.txt file to avoid this issue? You would only have to maintain a single file for base requirements that way as well.

[code]

[2019-12-09 17:56] MaciejWiczk commented on #108
@Wolfe1 it is to some extent done on purpose. requirements.txt is set to newest awailable versions of each dependency by dependabot, setup.py however is more relaxed, and is set to lowest possible version of each dependency, so it will accept broader number of versions resulting in less conflicts for users. I have a hunch that You had SQLAlchemy set to `1.1.13` while fastapi and others were the ne

[2019-12-09 19:38] Wolfe1 commented on #108
Understandable, just be aware that this issue will probably come up again for anyone moving from the original rfhub (or any other older SQLAlchemy code base) until that setup.py minimum version is increased.

From the error above it seems that keyword_repository.py is importing 'sectionload' that has been added in a version later than 1.1.13. I think this is an incompatibility between the rfhub2 c

[2019-12-10 17:08] MaciejWiczk commented on #108
You're totally right. I will create PR for that.

[2019-12-11 13:25] damien122 opened #113 "RFHUB2 via HTTPS"
Hi,

is it possible to use HTTPS in rfhub2?

[2019-12-11 23:48] pbylicki commented on #113
Hi @damien122,
Currently it is not available out of the box. If you want to play around, uvicorn supports direct connection via HTTPS and you could run rfhub2 with additional SSL configuration parameters added to uvicorn.run method here: https://github.com/pbylicki/rfhub2/blob/master/rfhub2/__main__.py

You can also put the application behind another layer which would be responsible for TLS termin

[2019-12-12 09:06] damien122 commented on #113
@pbylicki thx I will try

[2019-12-12 09:06] #113 closed, assigned to nobody

[2019-12-12 17:38] james-powis opened #114 "Feature: Support for test_cases as well?"
Libdoc does keywords
Testdoc does testcases

What would the effort be to add testcase documentation to the tooling?

[2019-12-12 17:57] MaciejWiczk commented on #114
Hi @james-powis, it would require few things:
- extending UI, obviously
- adding new endpoints for tests
- adding new table for tests
- adding test importer client to cli

I have just once used testdoc tool, but I think that nesting tests may be important here. Flattening test cases might end up in fogging overall view.

[2019-12-12 19:21] #108 closed, assigned to nobody

[2020-01-03 10:11] mnojek opened #126 "Searching box doesn't work when [Enter] is pressed"
If I put some value into search box and then start doing something else, the box keeps the value, but when I focus on non-empty search box again and hit [Enter] key, the searching does not execute - I need to change the value of search box to dynamically execute searching again. I propose implement running searching when the [Enter] key is pressed.

[2020-01-03 10:15] mnojek opened #127 "Searching starts when at least 3 letters are provided with no info"
When start providing value for search box, at first it only displays "No keywords found" alert until the 3rd character is given. I propose adding a proper information that "You need to provide at least 3 characters for searching to start" or something similar when no more than 2 characters are in the search box.
![image](https://user-images.githubusercontent.com/7412964/71718043-46cba500-2e1a-11ea

[2020-01-03 10:17] mnojek opened #128 "Add clear button for search box"
Would be nice to have some kind of clear button next to search box to quickly remove the content of it instead of removing the sentence manually.

[2020-01-03 10:19] mnojek opened #129 "Add an option to search individual collections"
Searching now works only for the whole content of RFHub. Would be nice to have an option to search from the keywords belonging to specific collection(s).

[2020-01-03 10:22] mnojek opened #130 "Keyword button from left-side menu works only when clicked on text"
Button representing specific keyword under the collection in left-side menu works only when it is clicked on text - when clicked outside the text but still on the button it only triggers click animation but does not open this keyword documentation.

[2020-01-03 10:26] mnojek opened #131 "Documentation page refreshes itself each time the keyword button is clicked"
Documentation page refreshes itself each time the keyword button is clicked even if I am still in the same collection - this takes some time (especially when the collection has many keywords with broad documentation) and is a waste of processing power. It should only scroll down to the specific keyword and refresh the page only when the changes to the keywords content were made in the meantime.

[2020-01-03 10:28] mnojek opened #132 "Add sorting for Keywords table"
Having the ability to sort the table content on the values by clicking on column headers would be a nice addition.

[2020-01-03 10:39] mnojek opened #133 "Long names for keyword or collection display issues"
When the collection or keyword name are too long to fit the width of the left-side menu they are not displayed properly.

![image](https://user-images.githubusercontent.com/7412964/71718869-e0945180-2e1c-11ea-813f-800a8a926c35.png)

I propose adding ellipsis (...) at the end of the too long word:

![image](https://user-images.githubusercontent.com/7412964/71719059-6a441f00-2e1d-11ea-83eb-29ddc410c

[2020-01-03 11:11] MaciejWiczk commented on #129
This is already there, but not documented. I will add some docs and gif about it

[2020-01-03 11:25] MarcinMaciaszek commented on #133
elipsis (...) and ful ltext on hover would be great :)

[2020-01-03 16:42] MaciejWiczk commented on #132
I think this will be covered by #67. There would be definetely a need to sort keywords, either by name, or statistics. This [table](https://material-ui.com/components/tables/#EnhancedTable.tsx) comes to my mind, but it might be also done by api. Ther are two things to take into consideration:
- collection table is paged, so sorting not entire set of results might be misleading, so it would be good

[2020-01-04 12:14] MaciejWiczk commented on #55
@Snooz82 I've taken a look at feature, and here are my thoughts:
- 'XML:HTML' format is aplicable for generating libdoc output XML files, that contains HTML in nodes itself, currently RfHub does not handle this, and importing such file ends up in having raw HTML displayed. Paragraph ends up inside another paragraph and quoted. This will only happen when loading lidoc.xml file from library, while m

[2020-01-06 17:11] pbylicki commented on #131
Hi @nojas10, I remember that I wanted to do this months ago, but had some problems to achieve this and keep routing on keyword level. After all this time it definitely deserves a second chance.

[2020-01-06 17:23] pbylicki commented on #132
@MaciejWiczk As you wrote, there are two cases here:
- When table is paged, we would need to do this on API side
- When table is not paged like on the collection details view, we could do this on frontend side

I think that should be done independently from #67 as it will still require quite a few changes on both sides and is not critical to implement #67. First we should implement it on API side,

[2020-01-06 17:37] MaciejWiczk commented on #132
I could take API sorting. I guess it would need additional parameter ie. sort_by and sorting direction

[2020-01-07 08:27] MaciejWiczk opened #136 "Adding keyword tags to keyword model"
Adding keyword tags to rfhub would help user with searching for right keywords, and excluding ones not seek, ie. manual keywords.

Currently tags are excluded from being gathered by cli. Model would need to be extended with additional, optional field of list type, similar to args. Frontend would need to be extended by additional column with tags for keyword table. Perhaps collection table could ho

[2020-01-11 10:26] pbylicki commented on #129
@MaciejWiczk How about  adding some help icon next to the search bar which would open a modal with instruction on using search with examples? I was thinking that if we would introduce tags and add mechanism to search only by tags it would be even more useful to present available ways of searching

[2020-01-11 10:35] MaciejWiczk commented on #129
That would be even better than just docs, splendind idea. Nevertheless improving docs is on me, and I will do that. BTW, I setup [telegram](https://t.me/rfhub2) channel today, so we can discuss all ideas.

[2020-01-13 20:50] #128 closed, assigned to nobody

[2020-01-13 20:51] #126 closed, assigned to nobody

[2020-01-13 20:52] idefixcert commented on #114
I think adding the tests into the view would be a killer feature.
I hope we get this!

[2020-01-14 09:08] MaciejWiczk opened #145 "When documentation is wide statistics column get lost"
This is connected with #67. SeleniumLibrary has wide examples used as documentation, so that avg elapsed time is hidden:
![image](https://user-images.githubusercontent.com/35737166/72329029-4fdb3280-36b4-11ea-9587-7baec3021450.png)
Click Element keyword is causing such behaviour:
![image](https://user-images.githubusercontent.com/35737166/72329191-99c41880-36b4-11ea-85e5-2ec45ce5f2a5.png)
I know i

[2020-01-14 09:15] MaciejWiczk opened #146 "Add sorting for Collections table"
Similar to #132, soting collection table would be nice addition to UI.Since Collection Table is paged, this one has to be done on API. Two parameters to be added to endpoint:

- `sort_by` with field used for ordering
- `desc` or `descending` for orderind direction

[2020-01-14 09:39] MaciejWiczk opened #147 "Gather test runs results"
Gathering data from tests runs would be a nice addition to existing docs. It would require changes in:

- UI, to display data, in tabular (and graphical? like some progress bar of green and red, that we are all used to ;) ) form, with nested links, ie Suite ROBOT/RFHUB2/UI/TEST_SUITE_1 etc.
- API, by adding new endpoints
- CLI, to enable gathering test cases with their status

[2020-01-14 09:47] MaciejWiczk opened #148 "Adding Dashboard to handle all Rfhub2 data"
Dashboard gathering all of rfhub2 data would be great addition to docs, test cases #114  and test runs #147. With dashboard, app could be displaying:

- last tests execution
- number of libraries and keywords
- number of testcases and how many of them are stale ie. basing on last 30 days
- most popular libraries/resources (splitting them could be nice indicator of which should be moved to library)

[2020-01-14 15:28] MaciejWiczk opened #149 "Explore other CI than Travis"
It would be nice to be able to run CI on various python versions (>=3.6) and on different OS matrix. Travis can do that, but it's not so easy to gather build artfiacts, such as robot logs and reports, that might be useful when creating new feature. Github Actions seems like nice choice. Here are some links to materials I found useful:

- [workflow with postgres](https://github.com/actions/example-

[2020-01-14 20:41] pbylicki commented on #127
@MaciejWiczk @nojas10 what do you think about changing this to start searching with first character instead?

[2020-01-14 21:01] pbylicki commented on #145
@MaciejWiczk I was thinking about new columns coming with statistics and tags and had an idea that maybe we could redesign this view to not use table, but rather list of expandable panels. By default panel would show name, tags and when clicked (on whole panel or some arrow icon) it would open hidden part with arguments, full documentation, etc. Then name, args and doc would stack vertically inste

[2020-01-14 21:04] pbylicki commented on #147
@MaciejWiczk Could you try to define initial requirements for that? what kind of information would you like to gather and present?

[2020-01-14 21:13] MaciejWiczk commented on #127
That's good idea, espacially having tags in mind, where they can be short, like DB, CI, UI.

[2020-01-14 21:17] pbylicki commented on #146
@MaciejWiczk I think this one should be done in a generic way that could be used for collections and keywords and potentially new resources in the API. I would do it like in Django Rest Framework, with url parameter `order=-field` where optional minus would indicate descending order. We could even allow multiple parameters provided with `order=field1&order=field2`

[2020-01-14 21:17] MaciejWiczk commented on #147
Sure, I will prepare some materials tomorrow.

[2020-01-14 21:18] mnojek commented on #127
I would say that it's not because one letter fits wherever it is used regardless it's a part of the word or not. So it can have some performance overhead when comes to searching all occurrences of a specific letter. Maybe it's better to start with 2? I think we can assume that nobody will use one letter tags.

[2020-01-15 05:59] MaciejWiczk commented on #127
You do have a point here, but fortnately search endpoint is paged, so we don't have to worry that much about performance here, I believe.

[2020-01-15 06:01] MaciejWiczk commented on #146
I didn't know DRF was working that way. I agree with that approach fully.

[2020-01-15 06:19] MaciejWiczk commented on #145
I must admit I'm kinda used to tabular view, and it would allow to quickly analyze sort keywords by times used, avg_elapsed etc., but then again, I would probably get used to expandable panels quickly. Do You have any particular expandable panels in mind? Like [expansion panel](https://material-ui.com/components/expansion-panels/) or rather [tiles like this](https://www.google.com/url?sa=i&source=

[2020-01-15 07:17] MaciejWiczk commented on #147
I think that a good starting point for this one would be log.html from RFWK, but less verbose,
![image](https://user-images.githubusercontent.com/35737166/72412221-1b777d00-376d-11ea-87aa-363216ecaae0.png) On right side I think that using something similar to Travis branch view could present last 5 test runs and their pass/fail ratio.
![image](https://user-images.githubusercontent.com/35737166/724

[2020-01-16 18:37] MaciejWiczk opened #152 "Print loaded collections when using CLI in alphabeticall order"
Printing collections in alphabeticall order would help to visually indicate progress of long running command.

[2020-01-16 19:06] idefixcert opened #153 "Importing a library which also contains robot files"
If I import a library which also contains robot files,
the robot files are not imported.

[2020-01-16 19:27] MaciejWiczk commented on #153
Hi @idefixcert, if I understood You correctly, You have library with __init__.py, and some .robot files in one directory? That's something I have not foreseen. Rfhub2, when traversing paths is looking for __init__.py file, and if it exists and importing it returns >0 keywords, this directory is treated as directory for single library, and the rest of the files is ommited. This way, app is not impo

[2020-01-16 19:57] idefixcert opened #154 "Import a library with 2 classes is not recorgnized"
I have a library with 2 classes.
This is not recorgnized by the importer.

[2020-01-16 20:23] MaciejWiczk commented on #154
Could You provide some minimum code example? There are few ways to create library for RFWK.
Did robot.libdoc create documentation the way You expected?

[2020-01-16 22:30] idefixcert commented on #154
Ok I see the thing is that libdoc also not allows that.
So I created a new library.

[2020-01-16 22:30] #154 closed, assigned to nobody

[2020-01-16 22:32] idefixcert commented on #153
The problem is, there is no keyword in the library itself, I just want use the python setup tool for distributing the robot files via pip.
Is that a common way to do it?

[2020-01-16 22:37] idefixcert opened #155 "Library constructor is not documented"
I have a library which uses a constructor.
With libdoc the Doc of the constructor is also rendered in the document.
With rfhub2 not.

[code]

[2020-01-17 08:32] MaciejWiczk commented on #155
Yes, I have noticed it too. Currently the workaround I used is to document `__init__` either in library docs or in `__init__.py`.

Ps. Examples looks also nice when single `|` is used:
[code]
This will render docs like here:
![image](https://user-images.githubusercontent.com/35737166/72596365-2fa5b080-390c-11ea-84cf-c3bf0046d88e.png)

[2020-01-17 08:41] MaciejWiczk commented on #153
Oh, that's a tricky one. But is it safe to repoduce issue with assumptions I made previosly? I could change app to traverse path further for robot files, even where `__init__.py` exists. That could solve your issue.

[2020-01-17 16:21] MaciejWiczk commented on #155
@idefixcert could You check #156 if that solves this issue, as well as #153 ?

[2020-01-18 09:52] idefixcert commented on #155
@MaciejWiczk yes with the latest release my issues are fixed

[2020-01-18 09:52] idefixcert commented on #153
@MaciejWiczk yes with the latest release my issues are fixed

[2020-01-18 10:02] #155 closed, assigned to MaciejWiczk

[2020-01-18 10:02] #153 closed, assigned to MaciejWiczk

[2020-01-18 10:03] #152 closed, assigned to MaciejWiczk

[2020-01-21 08:26] MarcinMaciaszek commented on #136
@MaciejWiczk It would be great to split it between small issues:
1. Model with migrations
2. Cli
3. API
4. search with frontend
What do you think ?

[2020-01-21 08:27] MarcinMaciaszek commented on #133
Merged and working, close :)

[2020-01-21 08:27] #133 closed, assigned to MarcinMaciaszek

[2020-01-21 09:00] MarcinMaciaszek commented on #127
@pbylicki @MaciejWiczk can I fix it ?

[2020-01-21 10:13] MaciejWiczk commented on #136
I'm all for it! Le't keep this one as parent task, and I will create small subtasks

[2020-01-21 10:18] MaciejWiczk opened #158 "Extend keyword model so tags can be gathered"
Child issue of #136.
Model would need to be extended with additional, optional field of list type, similar to args. This needs to happen for:

- [DB](https://github.com/pbylicki/rfhub2/blob/master/rfhub2/db/model/keyword.py#L13)
- [API](https://github.com/pbylicki/rfhub2/blob/master/rfhub2/model/__init__.py#L25)

[2020-01-21 10:26] MaciejWiczk opened #159 "Search endpoint should look in tags as well"
Child issue of #136.
When using search endpoint it should scan existing tags on keyword level. It should also allow for searching tags only using `tag: tag` similar to current `name: name` `in: in` with searchbox on app.
This issue depends on #158. Code should be changed in:

- [Search Params](https://github.com/pbylicki/rfhub2/blob/4b0475048c27e9d2d5a40404d62af01a85d75423/rfhub2/ui/search_params.

[2020-01-21 10:30] MaciejWiczk opened #160 "CLI should gather tags from keywords"
Child issue of #136.
Currently CLI do not gather tags, but discards them. This is a simple change, that can be done afer #158. Code to change:

- [rfhub_importer](https://github.com/pbylicki/rfhub2/blob/4b0475048c27e9d2d5a40404d62af01a85d75423/rfhub2/cli/rfhub_importer.py#L232)

[2020-01-21 10:37] MaciejWiczk opened #161 "Frontend should display tags"
Child issue of #136.
After #158, #159, #160 frontend should be changed to display tags values for keywords. Code to change:

- [Collection Details](https://github.com/pbylicki/rfhub2/blob/4b0475048c27e9d2d5a40404d62af01a85d75423/frontend/src/components/CollectionDetails.tsx#L34)
- [Search Results](https://github.com/pbylicki/rfhub2/blob/4b0475048c27e9d2d5a40404d62af01a85d75423/frontend/src/compone

[2020-01-21 10:45] MaciejWiczk opened #162 "SQL Migrations for tags"
Child issue of #136.
We should think of using Alembic, to apply table migration (we are going to extend existing table with additional `tags` column). Ideally app would handle migration while being started.

[2020-01-21 18:01] pbylicki commented on #127
@MaciejWiczk so what would be the expected fix here? to start searching when there are at least two characters?

[2020-01-21 18:31] MaciejWiczk commented on #127
@pbylicki yep, that would be right to do. Maybe we could add a note, that search requires at least two characters to begin searching?

[2020-01-21 22:49] pbylicki commented on #127
@MaciejWiczk I don't like the idea of the note - i do not recall any example of the page that would use such solution. If we want to handle this one letter scenario somehow I would rather start searching and display any keywords matching this letter, this is how most search engines out there work. In the future we could order the search results by statistics like times_used so we get popular resul

[2020-01-22 06:10] MaciejWiczk commented on #127
@pbylicki That will be much better than a note, I agree with You.

[2020-01-27 21:42] testautomation opened #172 "Error response from daemon: pull access denied for rfhub2"
Running docker command as described in readme results in error

[code]

### solution
[code]

[2020-01-28 08:24] MaciejWiczk commented on #172
@testautomation, You are right, fixed in #173

[2020-01-28 08:33] #172 closed, assigned to MaciejWiczk

[2020-01-28 08:33] MaciejWiczk commented on #172
Fixed in #173

[2020-03-14 19:09] #127 closed, assigned to pbylicki

[2020-03-14 19:10] #130 closed, assigned to MarcinMaciaszek

[2020-03-21 11:31] MaciejWiczk opened #196 "Add MyPy to CI checks"
Adding MyPy checks to CI would improve code quality.

[2020-03-23 08:06] MaciejWiczk opened #197 "Update CLI for statistics to work in batch mode"
Currently statistics are working in one by one mode, which takes a lot of time. Switching to batch mode, will shorten execution time significantly.

[2020-03-28 14:52] MaciejWiczk commented on #197
closed in #200

[2020-03-28 14:52] #197 closed, assigned to nobody

[2020-03-28 14:52] #67 closed, assigned to pbylicki, MaciejWiczk

[2020-03-29 18:48] MaciejWiczk commented on #114
Frontend changes:
- Since LibDoc has a different output structure than TestDoc, a change on UI is inevitable. Robot is producing nested output using structure like this: `s1-s2-s3-t14` where s stands for suite and t for test. Using this approach would be most simple one. Using Material UI [card-collection](https://storage.googleapis.com/spec-host/mio-staging%2Fmio-components%2F1584058305895%2Fasse

[2020-04-08 21:42] #158 closed, assigned to MaciejWiczk, MarcinMaciaszek

[2020-04-08 21:42] #159 closed, assigned to MaciejWiczk, MarcinMaciaszek

[2020-04-08 21:42] #160 closed, assigned to MaciejWiczk, MarcinMaciaszek

[2020-04-08 21:42] #161 closed, assigned to pbylicki

[2020-04-09 05:26] MaciejWiczk opened #214 "[BUG] - alembic .ini is missing from package data in setup.py in rfhub2 0.17"
There should be a change for alembic in setup.py.
Some solutions are at [SO](https://stackoverflow.com/questions/42383400/python-packaging-alembic-migrations-with-setuptools):

Traceback (most recent call last):

[2020-04-09 07:55] friendlyfreedom commented on #214
bug also occured on v 0.16

[2020-04-09 08:06] MaciejWiczk commented on #214
@friendlyfreedom, yes You are right. That's when alembic was introduced. Thanks

[2020-04-09 18:10] pbylicki commented on #214
Oops, sorry for that. I will prepare a fix for version 0.18 and keep you posted

[2020-04-09 18:25] MaciejWiczk opened #216 "setup readthedocs for RfHub2 with extensive documentation"
Apart from Readme.md and development.md it would be good to have searchable documentation about app. Autometed way of creating docs should be setup and updated each release.

[2020-04-09 18:38] MaciejWiczk opened #217 "Investigate possibility of automatic release notes creation"
It would be beneficial for project, to create release notes based on branch names and commit messages.

[2020-04-10 05:17] #214 closed, assigned to nobody

[2020-04-10 13:21] #162 closed, assigned to nobody

[2020-04-10 13:23] MaciejWiczk commented on #136
Closed by #208, #209, #210, #211

[2020-04-10 13:23] #136 closed, assigned to MaciejWiczk, MarcinMaciaszek

[2020-05-03 19:39] #216 closed, assigned to MaciejWiczk

[2020-05-26 08:05] MarcinMaciaszek commented on #42
Fix merged, I'm closing it :)

[2020-05-26 08:05] #42 closed, assigned to pbylicki

[2020-07-03 07:31] fengnex opened #251 "How to access&check UI of rfhub2?"
When executing command rfhub2 in the console, got the following outputs. I wonder how to access it:
C:\Users\Administrator>rfhub2
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade  -> c54a916ec6c8, Initial model
INFO  [alembic.runtime.migration] Running upgrade c54a916ec6

[2020-07-03 07:41] MaciejWiczk commented on #251
Hi @fengnex, I checked docs and actually, that crucial point is missed. To check UI please go to localhost:8000.

[2020-07-08 15:00] fengnex commented on #251
@MaciejWiczk Thank you!
I have run rfhub2 successfully and found that it's really useful. Also, it looks pretty beautiful!
I have thus starred the project!

[2020-09-23 07:48] MaciejWiczk commented on #251
Additionally, docs could be extended with additional info:
"You can now access rfhub2 instance at .. . It will be empty - you need to populate it with keyword first! More on that in section <link>

[2020-10-23 12:52] leeuwe opened #291 "Support variable in keyword name for statistics"
Currently, it looks to me as if keywords using the Embedded arguments approach are not counted in the Statistics. For me, that's a dealbreaker. I have little knowlede about how this should work, but I think it can work if the report.xml file is create with TRACE logging.
This would give the following:
<kw name="I click on activity &quot;xyz&quot;" library="GebiedsInfo">
<msg timestamp="20201022 13

[2020-10-25 18:02] MaciejWiczk commented on #291
Hi @leeuwe, You are right that embedded keywords are not taken into account when calculating statistics. The root of this issue lies between RfHub and Robotframework itself. When parsing execution results, to collect statistics, RfHub ges through output.xml file, that looks like below:
[code]
At first line You have embedded keyword, however it names differ from its definition `Open ${library} In L

[2020-10-26 10:03] leeuwe commented on #291
Thanks for your expanation. This is why I suggested this should be possible when one logs with TRACE, as this would make it doable in my opinion:

[code]

Attached whole logging and RF example file to run, with TRACE enabled, so you can run and see what I mean.
[EmbeddedArgs.zip](https://github.com/pbylicki/rfhub2/files/5438103/EmbeddedArgs.zip)

Hope this helps!

[2020-10-27 11:50] MaciejWiczk commented on #291
Ok, I will check that on Robotframework API side which we use for parsing output.xml

[2020-11-01 14:51] MaciejWiczk commented on #291
@leeuwe I took a longer look on that issue. Sadly, arguments are only passed on trace level :(
I also took a look into Robotframework itself, and tested how keywords are processed, and found a place where embedded kewords are "translated" from `Add 1 To 2` to `Add ${n} to ${m}`. If I manage, I will raise and issue and PR in robotframework. I will keep this issue updated.

[2020-11-01 15:16] leeuwe commented on #291
@MaciejWiczk Greatly appreciated! Thanks for your effort.

[2020-11-25 20:31] MarcinMaciaszek opened #304 "Bug with view of collection name in left list"
<img width="741" alt="Zrzut ekranu 2020-11-25 o 21 30 21" src="https://user-images.githubusercontent.com/50177134/100278657-8b49bd00-2f65-11eb-9011-043531b0a5e7.png">
It looks bad, we have to fix it 👍

[2020-11-26 14:53] MarcinMaciaszek commented on #304
merged

[2020-11-26 14:53] #304 closed, assigned to MarcinMaciaszek

[2020-11-26 17:35] MaciejWiczk commented on #129
closed with #302

[2020-11-26 17:35] #129 closed, assigned to MaciejWiczk

[2020-11-29 13:11] MaciejWiczk opened #307 "Update RfHub2 to handle changes introduced in RFWK 4.0"
Changes:
- First change to handle, apart from failing tests is to fix rfhub2/db/models/mixins.py because of DocToHtml class is now moved to htmlutils.
- introducing sourcename in statistics to handle embedded keyword original name, with separate ticket #291

[2020-11-29 23:00] #251 closed, assigned to nobody

[2020-11-29 23:03] #307 closed, assigned to MaciejWiczk

[2020-12-13 13:56] MaciejWiczk opened #314 "Add an endpoint to remove all collections from rfhub2"
It would speed up a bit of collections removal if done by one request, instead of multiple, one by one, requests. As a bonus, code [here](https://github.com/pbylicki/rfhub2/blob/master/rfhub2/cli/keywords/keywords_importer.py#L35) could be reduced a bit.

[2021-01-17 19:07] MaciejWiczk opened #331 "rfhub2 command is lacking help messages with all options"
rfhub2 command does not support printing help using `-h` or `--help` which makes user puzzled how to use it. Using click in similar way as rfhub2-cli would help out a lot.

[2021-02-19 19:34] Ka55i0peia commented on #55
After diving into source code and db structure, I've found this hard code line beeing the root cause of this limitation:

https://github.com/pbylicki/rfhub2/blob/d4e9b5bbe4d789f62a1acf302c121dbba8f5639f/rfhub2/db/model/mixins.py#L16

**Edit**

Its a bit of hackity hack reverse engineered / trail and error debugging, but this patch might goes into the right direction ...

[code]

@MaciejWiczk , @pb

[2021-02-20 09:33] MaciejWiczk commented on #55
@Ka55i0peia there are two parts of this issue. One is libdoc object generation, which happens here:
https://github.com/pbylicki/rfhub2/blob/d4e9b5bbe4d789f62a1acf302c121dbba8f5639f/rfhub2/cli/keywords/keywords_extractor.py#L105
and storing it in DB.  I do not know a way of determining a docs format beforehand, but maybe I'm lacking a bit of knowledge about LibDoc.
Second part is what You highlight

[2021-02-20 11:54] MaciejWiczk opened #342 "add possibility to import installed libraries using name instead of full path"
Currently when one wants to import python package that is installed, have to provide full package installation directory, using ie:
[code]
This could be enhanced to use only module name, and let rfhub do the rest of the work.

[2021-02-21 11:53] Ka55i0peia commented on #55
I dived into the [react part of this project](https://github.com/pbylicki/rfhub2/tree/master/frontend) and more again into libdoc. _The more I did, the more I think the patch is exactly doing what is requested to solve the problem._

When `rfhub2-cli` fills the db using libdoc ([code path @MaciejWiczk mentioned](https://github.com/pbylicki/rfhub2/blob/d4e9b5bbe4d789f62a1acf302c121dbba8f5639f/rfhub

[2021-02-22 07:45] MaciejWiczk commented on #55
@Ka55i0peia once I'm done with presentation for RoboCon I will analyze all that stuff. Thanks for very detailed info! :)

[2021-02-22 11:00] Ka55i0peia commented on #55
"See" you there. 😄

[2021-03-26 12:41] krysalead opened #360 "RFhub2 to handle multiple keyword libraries"
Hi,

Thanks for this initiative. Correct me if I am wrong but this has the same drawback as libdoc which is not being possible to have multiple libraries from various project aggregated properly (no clear isolation or identification from where the keyword is coming). I think this will be a valuable feature in large company that are having numbers of libraries doing many things.

[2021-03-26 13:40] krysalead opened #361 "RFHub to use tags for filtering like robot"
Hi,

Some of the keyword I am using are not to be used directly, it would be nice to have a way to filter for instance using the tags we can put in the robot file. It won't work with python and maybe this could be done with also a filtering on python script.
WDYT?

[2021-03-28 11:04] MaciejWiczk commented on #360
Hi @krysalead, RfHub2 is using libdoc under the hood to create docs in robot way. If I understood You correctly, You would like to be able to separate stuff from project/repository A from B? If that's so, it is different from the vision we had. We wanted to have all the keywords in one place, so they are easily shared between teams. What I can think of, is to use tags in both resource files and li

[2021-03-28 11:05] MaciejWiczk commented on #361
Hi @krysalead, If I'm getting You right, You would like to exclude/include only those keywords with certain tags?

[2021-03-28 12:49] krysalead commented on #360
HI @MaciejWiczk I am perfectly fine with the approach, I just need to identify somehow that the keyword is coming from lib A or lib B. Tagging could be a good solution indeed. I will try. I think your tool can workaround the libdoc limitation by adding a new meta information when injecting the keyword with the library name, maintainer, team, last modification date, version of the lib. I am not rea

[2021-03-28 12:51] krysalead commented on #361
Hi @MaciejWiczk indeed, I have high level keyword that should be public and some that should be private (mainly in Python) and the only way I found for now is to split the keyword in multiple files and playing with the folder structure which is not really clean.

[2021-03-28 18:33] MaciejWiczk commented on #360
Hmm...Could You tell me when this issue occurs to You?
When You search for keywords, You get a list like this:
![image](https://user-images.githubusercontent.com/35737166/112763219-db17be00-9003-11eb-8110-8e3aeafd5855.png)
On the main page, there is a collection name, which is indeed resource or library name. If You need something more, there is a path to given resource, on detailed view:
![image]

[2021-03-28 18:34] MaciejWiczk commented on #361
Ok, this is indeed interesting one, and it shouldn't be too hard to implement. I will investigate it :)

[2021-03-28 19:44] krysalead commented on #361
I have tried with libdoc if it relies on the same mechanism of include and exclude tags, unfortunately not.

[2021-03-28 19:47] krysalead commented on #360
Ok, I was not using the search but directly browsing the keyword list. Nevertheless the Path is not super nice, would it be better to see a simple path and a library name. Today I am running the CLI on the parent of the library root folder to have the library name in the path. How can I add the version and the name, I may have designed my library the wrong way. Can you please elaborate on where yo

[2021-03-29 07:50] krysalead commented on #360
Hi, checking the name of the lib is more the name of the file that contains the keyword which is different interms of installation. I need to show to the users that if they need to install the keyword in robot they need to do
[code]
And then good to have the path so the installation inside the robot script is easy

[2021-03-29 14:07] krysalead commented on #360
For me collection is the robot file name. How can i have the same nice name as robot builtin? Same for the version, where do you take it?

[2021-03-30 06:35] MaciejWiczk commented on #360
Hi, I will try to answer your questions one by one:

What we did in my company, is that we created a directory `robotframework-dummylibrary` which is installed using `pip install robotframework-dummylibrary` and this `robotframework-dummylibrary` contains folder `DummyLibrary` that has `DummyLibrary.py` and `__init__.py` and `version.py`. With that approach in path You will have `robotframework-du

[2021-03-30 08:26] MarcinMaciaszek commented on #342
@MaciejWiczk
I can take this issue if you want :)
Should it check first if the path exists if not look for this path based on library name?

[2021-03-30 08:31] MaciejWiczk commented on #342
@MarcinMaciaszek, this issue is in PR, but if You would like to continue this one, feel free to do so :)

[2021-03-30 09:01] MaciejWiczk opened #366 "Synchronize data between two instances of RfHub2"
Synchronize data between two instances of RfHub2.
Lately I've been asked to create a way to copy data from one instance to another, let's call it a "global one" using rfhub2-cli.
The idea is to use one instance data, and add only those that are not in "global instance", similar to `--merge` load mode. The difference is that data are not from paths but from source application.
I've been thinking of

[2021-03-30 10:41] MarcinMaciaszek opened #367 "Switch print logic to logger for CLI"
We are using prints for CLI actions, let's move it to the dedicated logger.
Once logger would be available we can provide better prints during data import to rfhub2.

[2021-04-01 10:39] krysalead commented on #360
Hi, Thanks for the full answer.
I see the issue now, I am not using Python files but robot files

[2021-04-01 18:04] MaciejWiczk commented on #360
@krysalead You are welcomed :)

[2021-04-04 14:13] #342 closed, assigned to MaciejWiczk

[2021-05-18 19:01] MarcinMaciaszek commented on #367
@MaciejWiczk I had a look at it, and it doesn't make sense to use logger for a few messages, let me know if clock echo makes sense. Otherwise, we can close it :-)
https://github.com/pbylicki/rfhub2/compare/feature/rfhub2-367-switch-to-logger-in-cli?expand=1

[2021-05-22 17:00] MaciejWiczk commented on #367
I didn't know that click had echo. I like its simplicity :)
Could You also bump version when creating PR?

[2021-05-22 17:16] MaciejWiczk opened #400 "Add CLI functionality to remove duplicated collections form RfHub2"
When doing an internal training on RfHub2 I was pointed, that removing duplicated entries would be beneficial for users.
This could utilize similar feature as update/merge mode when looking for duplicated/existing collections or an approach mentioned in [this feature](https://github.com/pbylicki/rfhub2/issues/366). Duplicates removal should be triggered with CLI using command:
`rfhub2-cli --mode=d

[2021-05-22 17:18] MaciejWiczk opened #401 "Change CLI default mode from insert to merge"
During internal training I was pointed that using merge mode as default would be safer, than insert mode, which deletes and re-uploads found collections to app. This change would be small in case of an application itself, however it would be more absorbing to update tests.

[2021-06-13 18:01] #401 closed, assigned to nobody

[2021-06-23 09:24] #361 closed, assigned to nobody

[2021-10-19 05:47] MrBIN89 opened #442 "Pip complain to mismatched version of robotframework 4.0.3, though it works"
I installed rfhub2 to my environment, like:
`pip install rfhub2 -U`
`pip install robotframework==4.0.3` <= exactly this version I use in my project
After that
`pip check` complains:

Though it works - I can run the server and populate it.

I found several PRs that should bump RF needed version:
* https://github.com/pbylicki/rfhub2/pull/373
* https://github.com/pbylicki/rfhub2/pull/395
* https://gi

[2021-10-20 05:16] MaciejWiczk commented on #442
Hi @MrBIN89, it's a bit more complex. A [PR](https://github.com/pbylicki/rfhub2/pull/440) for updating RfHub2 to handle RFWK 4.0+ is in code review, and I will finish it this weekend. With that, there would be all features needed for handling RFWK changes, such as reading executions statistics, and getting them for embedded keywords.
This was the reason to limit supported version to 3.2.2. I also

[2021-11-13 15:21] #314 closed, assigned to MaciejWiczk, MarcinMaciaszek

[2021-11-22 06:44] MaciejWiczk commented on #442
@MrBIN89 it took me longer, but everything should be ok now

[2021-11-22 06:44] #442 closed, assigned to nobody

[2021-12-01 11:33] #291 closed, assigned to MaciejWiczk

[2021-12-01 11:34] MaciejWiczk commented on #291
This one is finally done. Sorry for the long wait @leeuwe

[2021-12-01 11:36] leeuwe commented on #291
Cool! It's open source, I'm already happy you figured it out. Much appreciated 👍

[2021-12-01 12:37] #360 closed, assigned to nobody

[2022-02-04 08:34] elrandira opened #453 "Does rfhub2 implement some watchdogs?"
Is rfhub2 able to auto-update if the content of paths provided update?

[2022-02-07 06:15] MaciejWiczk commented on #453
Hi @elrandira currently it does not, but I think it could benefit from one. Or maybe external Watchdog could trigger rfhub2-cli to run specific command. What are your needs?

[2022-02-07 09:27] elrandira commented on #453
hi @MaciejWiczk

I am currently running rfhub2 on a dedicated docker alpine image with Kubernetes. I need to regularly watch if there are any update in a local repository that is maintained up-to-date by another process (jenkins pipeline with push notifier).
My idea at the moment is just to have a shell loop that would "rfhub2-cli --load-mode=update" on the folder.

[2022-02-07 09:34] MaciejWiczk commented on #453
@elrandira we had a similar pipeline, and we had multiple repositories that we sent to rfhub2 that was running on K8s. We had a single job, that was checking out all repositories we used, and populated rhub2 using the same command You are. This single job, was triggered by every commint/merge in watched repositories, as a step in other pipelines in Jenkins. See docs [here](https://bigdata-etl.com/

[2022-02-07 13:06] elrandira commented on #453
that's basically what I am doing. Thanks for the tips Maciej :)

[2022-04-20 09:32] divakar5 opened #458 "clearing the already loaded collections and keywords"
Hi,

I tried to understand the rfhub2 project regarding the smart documentation of keywords. I installed rfhub2 via pip and setup the localhost:8000 . Now I have 100+ collections in my localhost and I want to remove them all and start from fresh but not sure how to do this. I request you to please help me in this regard.

Thanks

[2022-04-20 09:57] MaciejWiczk commented on #458
Hi @divakar5,

You can do it in three ways:

- You can go to SWagger -> `localhost:8000/docs` and trigger`delete` on `collections:
![image](https://user-images.githubusercontent.com/35737166/164202384-ef608ef8-f865-41e6-90ed-ed62700afbba.png)
You will be asked for credentials, default is `rfhub:rfhub`
- You can run cli using insert mode, and providing no collection to the path ie. `rfhub2-cli --no

[2022-04-20 10:26] divakar5 commented on #458
Thank you! it worked

[2022-04-20 11:40] #458 closed, assigned to nobody

[2022-04-28 10:11] igor-czyrski-np opened #460 "Resource file's keywords are not considered by rfhub2 - bug or wrong local setup?"
Hi all!

I recently started to use your library, but I still cannot find a way to setup it for including RF keywords into the doc.

I'm using rfhub2 instance installed on external pc inside my net.
**rhub2 version:** 0.30 installed by pip

I'm using following line to populate hub:
`rfhub2-cli -a my_net_pc:8000 --no-installed-keywords example_robot_library`

**Project structure:**

[code]

**first.

[2022-04-28 11:43] MaciejWiczk commented on #460
Hi @igor-czyrski-np I will take a look at CLI, because there is part that is traversing paths, that is responsible for that, and unfortunately, it has some twisted logic ;)

Meanwhile You could try with providing two paths, ie `rfhub2-cli -a my_net_pc:8000 --no-installed-keywords example_robot_library resources`

[2022-04-28 12:55] igor-czyrski-np commented on #460
Still nothing :/

[2022-04-29 04:47] MaciejWiczk commented on #460
@igor-czyrski-np I will take a look during weekend and debug it :)

[2022-05-02 05:35] MaciejWiczk commented on #460
@igor-czyrski-np I did it using RfHub2 fixtures to try to achive something You've been having problems with:
[code]

and as a result I have all of the libraries, resources and keywords I would expect. Maybe You could upload dummy files You have, and I could debug cli using them as an input.
BTW which robotframework version You are using?

[2022-05-16 09:59] igor-czyrski-np commented on #460
Sorry for the late reply :)

I'm using RF in version 5.0.

And here is the link with the files from my example project: [CLICK](https://wetransfer.com/downloads/4099e0e450116260b9c6fad2dc31113520220516095643/c64690727a09b69b71a9079782e07d5b20220516095702/aaf22e)

[2022-05-16 11:03] MaciejWiczk commented on #460
@igor-czyrski-np I will do a debug with 5.0, although I was not following changes in 5.0 and RfHub2 is not supproting it, at least not fully

[2022-05-16 11:04] MaciejWiczk commented on #460
@igor-czyrski-np I will do a debug with 5.0, although I was not following changes in 5.0 and RfHub2 is not supporting it, at least not fully

[2022-05-17 05:55] igor-czyrski-np commented on #460
Okay! So which RF and Python version did you use? I will try to do the same in your ver.

[2022-05-17 06:16] MaciejWiczk commented on #460
Sure, so RF 4.1 is the latest supported, and python version should be 3.6 or above.

I will also check your code in a free time, and debug RfHub :)

[2022-05-17 07:50] igor-czyrski-np commented on #460
Okay, so that's extremely weird, but I bet it's something on my side...
I installed RF in 4.1 version (also I'm using python 3.9 if it matters), but still no keywords from resource file is taken under consideration.

Can you upload your example project? I will try to compare it with my code.

[2022-06-15 08:14] elrandira opened #462 "Questions regarding traverse_paths()"
[code]

Why don't you allow path to point to a file directly? _path_iterdir()_ will throw an exception.
Why, when _path_ points to a _library_with_init_, don't you look for _robot_files_candidates_ as well? You do that only in sub-folders

I started working on a pull request to fix this but I wanted your inputs.

With this, I need to rework some acceptance tests
[code]

[2022-07-07 13:03] #462 closed, assigned to nobody

[2022-07-20 12:28] KrzysiekZm-np opened #463 "Trouble with --load-mode options"
Hi, I have some trouble using rfhub2. I've installed rfhub2 on a remote machine.
Now when I do: ` rfhub2-cli --load-mode=merge --no-installed-keywords -a http://<server_name>.com:8000 <repo_paht>` for the first time everything loads ok. But when I make a change in the docstrings in the library and do ` rfhub2-cli --load-mode=merge --no-installed-keywords -a http://<server_name>.com:8000 <repo_paht

[2022-07-26 09:58] KrzysiekZm-np commented on #463
Hi again,
I have now the command `rfhub2-cli --load-mode=merge --no-installed-keywords -a http://<server_name>.com:8000 <repo_paht>` in a gitlab pipeline and after each run a new entry is added to the app.
So let's say I have a _templibrary_. After each run of the pipeline I have a new _templibrary_ entry on my instance of rfhub2 (e.g.  http://rfhub2.com:8000). The most interesting part is that al